
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url('https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?t=st=1724423553~exp=1724427153~hmac=98fefb5ebdf6fecd271b54a2f4782392bdc2a4b10fc9308903202eee7c410852&w=1060') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    transition: transform 0.3s ease;
}

.container:hover {
    transform: scale(1.05);
}

h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    outline: none;
}

button:hover {
    background-color: #2980b9;
    transform: translateY(-3px);
}

button:active {
    background-color: #1c6691;
    transform: translateY(1px);
}

.user-info {
    margin-top: 30px;
}

.user-info img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.user-info img:hover {
    transform: rotate(5deg);
}

#userName {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 600;
    color: #2c3e50;
}

#userEmail {
    color: #7f8c8d;
    font-size: 1em;
    font-weight: 400;
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 1.5em;
    }

    #userName {
        font-size: 1.2em;
    }

    button {
        padding: 8px 16px;
        font-size: 0.9em;
    }

    .user-info img {
        width: 100px;
        height: 100px;
    }
}

